:host {
    .prosemirror-container {
        height: 100vh;
        display: flex;
        flex-flow: column nowrap;

        .toolbar {
            background: #1d1d20;

            .logo {
                font-size: 16px;
                margin-right: 1rem;

                .yjs-name {
                    font-size: 20px;
                    color: #c2185b;
                    font-weight: bold;
                }
            }

            padding: 0px 10px;
            flex: 0 0 auto;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;

            .toolbar-end {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                column-gap: 4px;
            }

            button {
                margin-left: -10px;
            }
        }

        .edit-container {
            flex: 1;
            overflow: hidden;
        }
    }
}

.vertical-avatar-container {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 4px;
    padding: 0 0.8rem 0 0.8rem;

    .user-avatar-detail {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        column-gap: 0.5rem;

        .user-name {
            max-width: 200px;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

    }
}

.user-avatar-container {
    height: 30px;
    width: 30px;
    border-radius: 50%;

    .user-avatar {
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
